body {
    background-color: azure;
    background-image:url("background.jpg");
    background-repeat: repeat;
}
#header {
    text-align: center;
    color: darkgoldenrod;
    font-family: monospace;
    font-size:10vmin;
}
.gradeSelect {
    width: 80vw;
    height: 10vh;
    margin-left: 10vw;
    margin-top: 5vh;
    outline-style: none;
    visibility: hidden;
    display:none;
    border-radius: 2.5vh;
    font-size:8vmin;
    font-family: impact;
    text-align:left;
}
.semesterOne {
  width: 40vw;
  height: 13vh;
  margin-left: 9vw;
  margin-top: 2vh;
  outline-style: none;
  visibility: hidden;
  display:none;
  font-family: "fantasy";
  font-size:6vmin;
  background-color: gold;
  border-radius: 2.5vh;
}
.semesterTwo {
  width: 40vw;
  height: 13vh;
  margin-left: 51vw;
  margin-top: -13vh;
  margin-bottom: 2vh;
  position: absolute;
  font-family: "fantasy";
  font-size:6vmin;
  background-color: black;
  color: gold;
  border-radius: 2.5vh;
}
#nine {
    background-color:#FFEA40;
    background-image:url("orange.jpg");
    background-position: center;
    margin-top: 10vh;
    color:#776D20;
}
#ten {
    background-image:url("pink.gif");
    background-position: center;
    background-color:hotpink;
    color:#77206C;
}
#eleven {
    background-image:url("green.gif");
    background-position: center;
    background-color:aquamarine;
    color:#20775C;
}
#twelve {
    background-image:url("blue.gif");
    background-position: center;
    background-color:#00A0FF;
    color:#1B5374;
}
#classA {
    margin-top: 10vh;
}
#classE {
    margin-top: -13vh;
}
#search {
  margin-top: 10vh;
  margin-left: 10vw;
  width:80vw;
  height:15vh;
  border-radius: 2.5vh;
  font-size:8vmin;
  margin-bottom: 6vh;
}
#searchImage {
  margin-left:77vw;
  margin-top: 2vh;
  position: absolute;
  width: 12vmin;
  height: 12vmin;
  background-image: url("search.png");
  background-size: contain;
  background-color: transparent;
  border: none;
}
#acceptClass, #removeClass {
  width: 10vw;
  height: 4vh;
  position: relative;
  margin-bottom:10vh;
  align:center;
  float:right;
  font-size:3vmin;
  background-color: white;
  color: #5cb85c;
  border-radius: 3.5vh;
  display:inline;
}
#backButton {
  position:absolute;
  top:5%;
  left:5%;
  width:10vmin;
  height:10vmin;
  z-index:3;
  background-image:url("backbutton.png");
  background-size: contain;
  background-color:transparent;
  border: none;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.homeBox {
  width: 80%;
  height: 10%;
  margin-top: 2%;
  margin-bottom: 4%;
  margin-left: 10%;
  border:1vmin;
  border-radius: 5vh;
  border-style:solid;
  font-family: Verdana;
  text-align:center;
  font-size:7vmin;
}
.credIcon {
  display: inline-block;
  vertical-align: top;
  width:10vmin;
  height:10vmin;
  margin-top:-2vh;
  margin-left:15vw;
  z-index:2.5;
  background-size:10vmin 10vmin;
}
#credHead {
  margin-top:5%;
  text-align: center;
  font-size:15vmin;
  color:#7C4300;
}
.encompassCreditEntry {
  border-radius:2.5vmin;
  border:.5vmin;
  border-style:solid;
  border-color:#583000;
  background-color:#A15800;
}
.creditInfoText {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  float:right;
  margin-right:5vw;
  font-size:5vmin;
  color:blue;
}
.boldCredit {
  display: inline-block;
  vertical-align: top;
  margin-left:10vw;
  text-align: left;
  font-size:5vmin;
  color:brown;
}
#creditContainer {
  background: url("brown.gif");
  border-radius:5vmin;
  border:1vmin;
  border-style:solid;
  border-color:#583000;
  background-repeat:repeat;
  background-size:100% 100%;
}

/* Loading Circle */

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position:absolute;
  width:30vmin;
  height:30vmin;
  margin-left:25%;
  margin-top:15%;
}
#loadIcon {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Pop up styling */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 6; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    margin-bottom:20vh;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
  padding: 2px 16px;
  color:black
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
