body {
    background-color: azure;
    background-image:url("background.jpg");
    background-repeat: repeat;
    overflow-x:hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#header {
    width:45%;
    height:20vh;
    margin:auto;
}
#headContain {
  width:100%;
  margin-bottom:5vh;
  background-color:#2D52A3;
}
.gradeSelect {
    width: 80vw;
    height: 10vh;
    margin-left: 10vw;
    margin-top: 5vh;
    outline-style: none;
    visibility: hidden;
    display:none;
    border-radius: 2.5vh;
    font-size:8vmin;
    font-family: impact;
    text-align:left;
}
.semesterOne {
  width: 40vw;
  height: 13vh;
  margin-left: 9vw;
  margin-top: 2vh;
  outline-style: none;
  visibility: hidden;
  display:none;
  font-family: "fantasy";
  font-size:6vmin;
  background-color: gold;
  border-radius: 2.5vh;
}
.semesterTwo {
  width: 40vw;
  height: 13vh;
  margin-left: 51vw;
  margin-top: -13vh;
  margin-bottom: 2vh;
  position: absolute;
  font-family: "fantasy";
  font-size:6vmin;
  background-color: black;
  color: gold;
  border-radius: 2.5vh;
}
.triOne, .triTwo, .triThree {
  width: 25vw;
  height: 13vh;
  margin-left: 5.5vw;
  outline-style: none;
  font-family: "fantasy";
  background-color: gold;
  border-radius: 2.5vh;
  margin-top:-2vh;
  margin-bottom:3.5vh;
}
.triRow {
  display:flex;
}
.triTwo {
  background-color: black;
  color:gold;
}
.triOne {
  margin-left:5.5vw;
}
#nine {
    background-color:#FFEA40;
    background-image:url("orange.jpg");
    background-position: center;
    margin-top: 10vh;
    color:#776D20;
}
#ten {
    background-image:url("pink.gif");
    background-position: center;
    background-color:hotpink;
    color:#77206C;
}
#eleven {
    background-image:url("green.gif");
    background-position: center;
    background-color:aquamarine;
    color:#20775C;
}
#twelve {
    background-image:url("blue.gif");
    background-position: center;
    background-color:#00A0FF;
    color:#1B5374;
}
#classA {
    margin-top: 10vh;
}
#classE {
    margin-top: -13vh;
}
#search {
  margin-top: 10vh;
  margin-left: 10vw;
  width:80vw;
  height:15vh;
  border-radius: 2.5vh;
  font-size:8vmin;
  margin-bottom: 6vh;
}
#searchImage {
  margin-left:77vw;
  margin-top: 2vh;
  position: absolute;
  width: 12vmin;
  height: 12vmin;
  background-image: url("search.png");
  background-size: contain;
  background-color: transparent;
  border: none;
  outline: none;
}
#acceptClass, #removeClass, #confirmButton {
  width: 20vw;
  height: 4vh;
  position: relative;
  margin-bottom:10vh;
  align:center;
  float:right;
  font-size:3vmin;
  background-color: white;
  color: #5cb85c;
  border-radius: 3.5vh;
  display:inline;
  outline: none;
}
#typeConfirm {
  width:50vmin;
  height:5vmin;
  border-radius: 2.5vmin;
  font-size:3vmin;
}
#backButton {
  position:fixed;
  top:5%;
  left:5%;
  width:10vmin;
  height:10vmin;
  z-index:3;
  background-image:url("backbutton.png");
  background-size: contain;
  background-color:transparent;
  border: none;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.homeBox {
  width: 80%;
  height: 10%;
  margin-top: 2%;
  margin-bottom: 4%;
  margin-left: 10%;
  border:1vmin;
  border-radius: 5vh;
  border-style:solid;
  font-family: Verdana;
  text-align:center;
  font-size:7vmin;
}
.verifyBox {
  width: 80%;
  height: 10%;
  margin-top: 2%;
  margin-bottom: 4%;
  margin-left: 10%;
  border:1vmin;
  border-radius: 5vh;
  border-style:solid;
  font-family: Verdana;
  text-align:center;
  font-size:7vmin;
  border-color:darkgreen;
  background-color:green;
}
.credIcon {
  display: inline-block;
  vertical-align: top;
  width:10vmin;
  height:10vmin;
  margin-top:3vh;
  margin-left:7vw;
  z-index:2.5;
  background-size:10vmin 10vmin;
  animation-delay: 1s;
}
.headerClass {
  width:100%;
  font-size:12vmin;
  height:30vh;
  color:white;
  text-align:center;
  line-height:30vh;
  vertical-align: middle;
  margin-bottom:10vh;
}
#credHead {
  background: #001DDC; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #001DDC , #73FFFE); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #001DDC, #73FFFE); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #001DDC, #73FFFE); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #001DDC , #73FFFE); /* Standard syntax */
}
#uncredHead {
  background: #F29200; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #F29200 , #FFDEAC); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #F29200, #FFDEAC); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #F29200, #FFDEAC); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #F29200 , #FFDEAC); /* Standard syntax */
}
#verifyHead {
  background: #059400; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #059400 , #93FF8F); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #059400, #93FF8F); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #059400, #93FF8F); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #059400 , #93FF8F); /* Standard syntax */
}
#gpaHead {
  background: #036100; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #036100 , #D9FFDD); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #036100, #D9FFDD); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #036100, #D9FFDD); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #036100 , #D9FFDD); /* Standard syntax */
}
#optionHead {
  background: #424242; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #424242 , #FFFFFF); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #424242, #FFFFFF); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #424242, #FFFFFF); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #424242 , #FFFFFF); /* Standard syntax */
}
#schoolHead {
  background: #670062; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #670062 , #2344D1); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #670062, #2344D1); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #670062, #2344D1); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #670062 , #2344D1); /* Standard syntax */
}
#counselorHead {
  background: #FF5DF7; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #FF5DF7 , #72006C); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #FF5DF7, #72006C); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #FF5DF7, #72006C); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #FF5DF7 , #72006C); /* Standard syntax */
}
.gpaCirc {
  border-radius: 50%;
  width:10vw;
  height:10vw;
  border-style:solid;
  border-width:1vmax;
  display:inline-block;
  margin-top:4vh;
  text-align: center;
  vertical-align: middle;
  line-height: 10vw;
  font-size: 4vw;
  font-weight: bold;
}
.gpaTitle {
  text-align: center;
  font-size:8vmin;
}
#weightedGPACirc {
  margin-left:30vw;
  border-color:darkgreen;
  background-color:green;
  color:white;
}
#unweightedGPACirc {
  margin-left:15vw;
  border-color:gray;
  background-color:white;
  color:green;
}
#counselorEmailText {
  display:none;
  visibility: hidden;
}
#studentInput, #counselorInput {
  margin-left:18vw;
  width:50vw;
  height:10vh;
  border-radius:2.5vh;
  font-size:5vmin;
  margin-bottom:4vh;
  vertical-align: top;
}
#studentInput {
  margin-bottom:10vh;
}
#studentButton, #counselorButton {
  width:10vh;
  height:10vh;
  margin-left:5vw;
  border-radius:4vh;
  background-color:green;
  outline: none;
  font-size:5vmin;
  color:white;
}
#revertButton {
  margin-left:35vw;
  width:30vw;
  height:10vh;
  border-radius:5vh;
  background-color:green;
  color:white;
  font-size:4vmin;
  margin-bottom:5vh;
}
.counselorDesc {
  margin-left:18vw;
  font-size:3vmin;
  color:green;
  max-width:calc(55vw + 10vh - 6vmin);
  background-color:white;
  border:solid;
  border-width:0.5vmin;
  border-color:green;
  border-radius:3vmin;
  padding-left:4vmin;
  padding-right:2vmin;
  text-align: center;
}
#picOfPopUp {
  width: 50vmin;
  height: 50vmin;
  background-size:contain;
}
#popUpDiv {
  z-index:10;
  position: fixed;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50vmin;
  height: 60vmin;
  display:none;
  visibility:hidden;
}
#descOfPopUp {
  margin-top:1vh;
  height:9vh;
  font-size:4vmin;
  vertical-align: middle;
  line-height: 9vh;
  text-align: center;
  background-color:white;
  color:green;
  border:solid;
  border-width:0.5vmin;
  border-color:green;
  border-radius:3vmin;
  padding-left:4vmin;
  padding-right:4vmin;
}
#optionFade {
  margin-top:5vh;
  display: table;
  margin: 0 auto;
}
#containOption {
  width:100%;
}
.encompassCreditEntry {
  border-radius:2.5vmin;
  border:.5vmin;
  border-style:solid;
  border-color:#005C96;
  width:80%;
  margin-left:10%;
  background-color:#008AE1;
}
.creditInfoText {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  position: static;
  float:right;
  margin-right:5vw;
  font-size:5vmin;
  color:blue;
}
.boldCredit {
  display: inline-block;
  vertical-align: top;
  margin-left:3vw;
  text-align: left;
  font-size:5vmin;
  color:brown;
}
@media (orientation:portrait) {
  #header {
    width:85%;
  }
  .boldCredit, .creditInfoText {
    font-size:3.5vmin;
  }
  .counselorDesc {
    margin-left:13vw;
  }
  #optionFade {
    margin-left:15vw;
  }
  #studentInput, #counselorInput {
    margin-left:13vw;
  }
  .triOne {
    margin-left:5vw;
  }
  .credIcon {
    width:5vmin;
    height:5vmin;
    margin-top:2vh;
    background-size:5vmin 5vmin;
  }
  .gpaTitle {
    margin-top:20vh;
  }
  .gpaCirc {
    width:15vh;
    height:15vh;
    font-size:8vw;
    line-height:15vh;
  }
  #weightedGPACirc {
    margin-left:15vw;
  }
  #unweightedGPACirc {
    margin-left:7.5vw;
  }
  #inputInfoModal {
    margin-bottom:30vh;
  }
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position:absolute;
  width:30vmin;
  height:30vmin;
  margin-left:25%;
  margin-top:15%;
}
#loadIcon {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Pop up styling */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 6; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    margin-bottom:20vh;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
  padding: 2px 16px;
  color:black
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
